.buttoncontainer{
    background-color: #d1d4d7;
    border-top: 3px solid #85a5c0;
    bottom: 0px;
    position: absolute;
    width: 100%;
    padding: 12px;
}

// .ui-datatable-scrollable {
//     display: flex;
//     flex-direction: column;
//   }
  
//  .ui-datatable-scrollable-wrapper {
//     flex: 1 1 0;
//   }
  
//   .ui-datatable-scrollable-view {
//     height: 50%;
//     display: flex;
//     flex-direction: column;
//   }
  
//    .ui-datatable-scrollable-body {
//     flex: 1 1 0;
//   }