<div class="panel">
  <div class=" panel-primary" style="width:80vw">
    <h2 class="panel-heading">Complete Audit Plan Template</h2>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="row">
        <div class="panelprimary" style="margin-left:15px">
          <div class="panelheader">
            Audit Plan details
          </div>
          <div class="panelcontainer">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <form #auditCheckList="ngForm">

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                        style="color:white">
                        Audit Plan Template
                      </a>
                    </h4>
                  </div>

                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">


                      <h3 style="text-align:center; font-weight:bold">SECTION 1</h3>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Case Status:</label>
                        <div class="col-sm-7">
                          <label class="form-control col-sm-2">New</label>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Risk Assessment Report:</label>
                        <div class="col-sm-7">
                          <select class="form-control" required name="RiskAssementReport" #riskAssementReport="ngModel" [(ngModel)]="audiDetails.RiskAssementReport">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let t of toggleCollection" [ngValue]="t.Value">{{t.DisplayText}}</option>
                          </select>
                        </div>

                      </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">VD/DL:</label>
                        <div class="col-sm-7">
                          <select class="form-control" [required]="riskAssementReport.value == false " #vddlQuestionId="ngModel" name="VDDLQuestionId"
                            [(ngModel)]="audiDetails.VDDLQuestionId">
                            <option *ngFor="let t of vDLookup" [ngValue]="t.VDDLQuestionId" [attr.selected]="audiDetails.VDDLQuestionId == t.VDDLQuestionId ? true : null ">{{t.Description}}</option>
                          </select>
                        </div>
                        <div class="col-sm-1">
                          <button class="btn btn-primary btn-sm" (click)="viewVddl(vddlQuestionId.value)">View Details</button>
                        </div>

                      </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Audit Required:</label>
                        <div class="col-sm-7">
                          <div>
                            <p-multiSelect [options]="auditRequiredLookup" [style]="{'width':'100%'}" [(ngModel)]="selectedAuditRequired" filter="false"
                              name="selectedAuditRequired">
                            </p-multiSelect>
                          </div>

                        </div>
                      </div>
                      <br/>
                      <h3 style="text-align:center; font-weight:bold">SECTION 2</h3>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Type Of Audit:</label>
                        <div class="col-sm-7">
                          <select class="form-control" required name="TypeOfAuditId" [(ngModel)]="audiDetails.TypeOfAuditId">
                            <option *ngFor="let t of typeOfAuditLook" [ngValue]="t.TypeOfAuditId" [attr.selected]="audiDetails.TypeOfAuditId == t.TypeOfAuditId ? true : null ">{{t.Description}}</option>
                          </select>
                        </div>

                      </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Start Date:</label>
                        <div class="col-sm-7">
                          <div class="calendarCustom">
                            <p-calendar [(ngModel)]="audiDetails.StartDate" required dateFormat="dd/mm/yy" [showIcon]="true" yearNavigator="true" yearRange="1900:2030"
                              monthNavigator="true" name="StartDate" #startDate="ngModel" showButtonBar="true"></p-calendar>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">End Date:</label>
                        <div class="col-sm-7">
                          <div>
                            <p-calendar [(ngModel)]="audiDetails.EndDate" required dateFormat="dd/mm/yy" [showIcon]="true" yearNavigator="true" yearRange="1900:2030"
                              monthNavigator="true" name="EndDate" #endDate="ngModel" showButtonBar="true"></p-calendar>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Audit Scope:</label>
                        <div class="col-sm-7">
                          <input class="form-control" required type="text" [(ngModel)]="audiDetails.AuditScope" name="Other" #other="ngModel" />
                        </div>

                      </div>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Audit Objectives:</label>
                        <div class="col-sm-7">
                          <textarea class="form-control" required sars-limitfield="2000" type="text" required [(ngModel)]="audiDetails.AuditObjectives"
                            name="AuditObjectives" #auditObjectives="ngModel">
                       </textarea>
                        </div>

                      </div>

                      <h3 style="text-align:center; font-weight:bold"> SECTION 3 - Trader Overview</h3>
                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Was the Trader previously audited?:</label>
                        <div class="col-sm-7">
                          <select class="form-control" (change)="onToggleChange($event,'IsTraderPreviouslyAudited')" required name="IsTraderPreviouslyAudited"
                            [(ngModel)]="audiDetails.IsTraderPreviouslyAudited">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let t of toggleCollection" [ngValue]="t.Value">{{t.DisplayText}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Is there an existing audit or investigation?:</label>
                        <div class="col-sm-7">

                          <select class="form-control" (change)="onToggleChange($event,'IsExistingAuditOrInvestigation')" required name="IsExistingAuditOrInvestigation"
                            [(ngModel)]="audiDetails.IsExistingAuditOrInvestigation">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let t of toggleCollection" [ngValue]="t.Value">{{t.DisplayText}}</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group col-sm-12">
                        <label class="control-label col-sm-4">Is the trader a new importer/exporter?:</label>
                        <div class="col-sm-7">

                          <select class="form-control" (change)="onToggleChange($event,'IsThereAnExistingAudit')" required name="IsThereAnExistingAudit"
                            [(ngModel)]="audiDetails.IsTraderNewExporterImporter">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let t of toggleCollection" [ngValue]="t.Value">{{t.DisplayText}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                        style="color:white" aria-controls="collapseTwo">
                        Check List
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="row" *ngFor="let auditlistItem of auditlistItems; let i = index">
                        <div class="form-group col-sm-12 ">
                          <label class=" col-sm-8 control-label">{{auditlistItem.Description}}</label>
                          <div class="col-sm-3">

                            <select class="form-control" required name="selectedQuestion{{i}}" [(ngModel)]="auditlistItem.Answer">
                              <option [ngValue]="null"></option>
                              <option *ngFor="let t of toggleCollection" [ngValue]="t.DisplayText">{{t.DisplayText}}</option>
                            </select>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            <div class="row buttoncontainer" style="margin-left: -9px; width: 96.6%;">
              <div class="col-md-12 col-lg-12" style="text-align:center">
                <!-- <button click class='btn btn-primary' (click)="saveCompetedAuditPlanQuestions()">Complete Checklist</button> -->
                <button class='btn btn-primary' (click)="saveCompleteAuditPlanAllInOne()">Save Audit Plan</button>
                <button class='btn btn-primary' [disabled]="!auditCheckList.valid" (click)="getDocumentGenerationLetter()">Generate Notification of Audit Letter</button>
                <!-- <button  class='btn btn-primary ' (click)="generateRequestForrelavantMaterial()">Generate Requestfor Relevant Material Letter</button> -->
                <button class='btn btn-primary' [disabled]="!auditCheckList.valid && documentItems.length == 0" (click)="submitAuditPlan()">Send for Approval</button>
                <!-- <button class='btn btn-primary' (click)="onPend()">Pend Case</button>
                <button class='btn btn-primary' (click)="onUnPend()">Unpend Case</button> -->
                <button class='btn btn-primary' (click)="onCancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="row">
        <div class="panelprimary">
          <div class="panelheader">
            Generated Letters And Selected Documents
          </div>
          <div class="panelcontainerhalf" style="overflow: hidden !important;">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div>
                  <input type="file" id="fileloader" multiple="multiple" (change)="uploadFile($event)" />
                  <br/>
                </div>
                <p>Number Of Letters: {{DocumentsLength()}}</p>
              </div>
              <div class="col-lg-12 col-md-12">
               <p-dataTable [immutable]=false #dt [value]="documentItems" scrollHeight="160px" scrollable="true" [rows]="5"  [paginator]="true">

                  <p-column field="FileName" header="Name"></p-column>
                  <p-column field="FileSize" header="Size">
                    <ng-template let-col let-documentItem="rowData " pTemplate="type">
                      <div>{{documentItem.FileSize/1024/1024 | number:'.2'}} MB</div>
                    </ng-template>
                  </p-column>
                  <p-column field="DateCreated" header="Date Created">
                    <ng-template let-col let-documentItem="rowData " pTemplate="type">
                      <div>{{documentItem.DateCreated | date : "dd MMMM yyyy" }}</div>
                    </ng-template>
                  </p-column>
                  <p-column styleClass="col-button">
                    <ng-template let-documentItem="rowData" pTemplate="body">
                      <button type="button" label="Remove" pButton (click)='removeDocument(documentItem,dt)'></button>
                    </ng-template>
                  </p-column>
                  <p-column styleClass="col-button">
                    <ng-template let-documentItem="rowData" pTemplate="body">
                      <button type="button" pButton label="View" (click)='viewDocument(documentItem)'></button>
                    </ng-template>
                  </p-column>
                  <p-column field="IsRemoved" header="" [hidden]="true"></p-column>
                </p-dataTable>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panelprimary">
          <div class="panelheader">
            View Comments
          </div>
          <div class="panelcontainerhalf" style="overflow: hidden !important;">
            <app-comments-view id="commentsview" [caseID]="commentsCaseId"></app-comments-view>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-loadingbar [isPostActionCompleted]="isPostActionCompleted" [isLoaded]="isLoaded"> </app-loadingbar>