<div class="panel">
  <div class='panel-primary' style="width: 80vw;">
    <h2 class="panel-heading">{{windowLabel}}</h2>
  </div>
  <app-loadingbar [isLoaded]="isLoaded"></app-loadingbar>
  <div class="ui-widget-header panel-primary" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Search">
  </div>
 <p-dataTable [immutable]=false [value]="combinedCiAllocatedCasesDisplayGridItems" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
    <p-column field="CaseRefNo" header="Case Ref Number"></p-column>
    <p-column field="Status" header="Case Status"></p-column>
    <p-column field="Type" header="Case Type"></p-column>
    <p-column field="CustomsExciseCode" header="Customs Excise Code:"></p-column>
    <p-column field="CompanyRegisteredNumber" header="Company Registered Number:"></p-column>
    <p-column field="IncomeTax" header="Income Tax:"></p-column>
    <p-column field="VATNumber" header="VAT Number:"></p-column>
    <p-column field="DateCreated" header="DateCreated:">
        <ng-template let-col let-combinedCiAllocatedCasesDisplayGridItems="rowData " pTemplate= "type">
            <div>{{combinedCiAllocatedCasesDisplayGridItems.DateCreated | date}}</div>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">

      <ng-template let-vddlItem="rowData" pTemplate="body">
        <button type="button" pButton class='btn btn-primary' label="Create Audit" (click)='createAudit(vddlItem)'></button>
      </ng-template>
    </p-column>

  </p-dataTable>
</div>